/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100%;
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    border: none;
    background-color: inherit;
    font-size: inherit;
    font: inherit;
}
/* The modal (background) */
div.modal-overlay{
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.modal-wrapper {
    width: 500px;
    min-height: 500px;
    padding-bottom: 20px;
    background: ghostwhite;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.open-modal-btn-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.close-modal-btn{
    padding: 8px;
    background: slateblue;
    font-size: 1.2rem;
    color: ghostwhite;
    font-weight: 5px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    cursor: grab;
}
.close-btn-wrapper {
    display: flex;
}
.modal-content {
    margin: 0px auto;
    max-width: 210px;
    width: 100%;
}

.hide {
    display: none;
}

h1 {
    text-align: center;
}

input {
    width: 200px;
    height: 20px;
}
.project-form,
.item-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.submit-project,
.submit-item {
    padding: 20px;
    background-color: slateblue;
    text-align: center;
    color: white;
}
div.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}
button.side-button {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
    font: 1.5rem;
    cursor: grab;
}
div#side-bar>div.icon {
    padding: 40px;
    height: 150px;
    width: 150px;
}
div#side-bar {
    background-color: #FFC800;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.25rem;
}
div#nav-panel {
    background-color: #98A6D4;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    gap: 10px;
}

div#project-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #12100E;
    overflow: auto;
}
div.project,
div.item{
    position: relative;
    flex: 1;
    font-size: 1.5vw;
    min-height: 200px;
    min-width: 200px;
    max-height: 400px;
    padding: 20px;
    margin: 40px;
    border: none;
    background-color: #14213D;
    color: white;

}
div.project>h1,
div.item>h1 {
    padding: 20px 0px;
    font-size: 2vw;
}
div.item>.project-name {
    padding: 20px 0px;
    color: #FFC800;
}
button#expand {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    background-color: white;
}

span#expand {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url(./eye-plus-outline.svg);
    filter: invert(100%) sepia(8%) saturate(7500%) hue-rotate(316deg) brightness(127%) contrast(110%);
}
span#edit {
    position: absolute;
    top: 5px;
    right: 60px;
    width: 40px;
    height: 40px;
    background-image: url(./pencil-outline.svg);
    filter: invert(100%) sepia(8%) saturate(7500%) hue-rotate(316deg) brightness(127%) contrast(110%);
}
span#delete {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-image: url(./delete-outline.svg);
    filter: invert(100%) sepia(8%) saturate(7500%) hue-rotate(316deg) brightness(127%) contrast(110%);
}
span#delete:hover{
    filter: brightness(0) saturate(100%) invert(17%) sepia(79%) saturate(6637%) hue-rotate(357deg) brightness(101%) contrast(94%);
}
span#expand>button{
    width: 40px;
    height: 40px;
    border: none;
    opacity: 0;
}
span#expand>button:hover{
    cursor: grab;
}
span#expand:hover,
span#edit:hover{
    filter: invert(54%) sepia(62%) saturate(3153%) hue-rotate(85deg) brightness(119%) contrast(124%);

}

p.project-title{
    padding-bottom: 20px;
}